In [12]:
import pickle
import pandas as pd

In [8]:
pandas.__version__

'2.2.2'

In [13]:
data = {'age': {200: 33, 201: 32},
 'job': {200: 'services', 201: 'services'},
 'marital': {200: 'married', 201: 'single'},
 'education': {200: 'high.school', 201: 'basic.6y'},
 'default': {200: 'no', 201: 'no'},
 'housing': {200: 'no', 201: 'no'},
 'loan': {200: 'no', 201: 'no'},
 'contact': {200: 'telephone', 201: 'telephone'},
 'month': {200: 'may', 201: 'may'},
 'day_of_week': {200: 'mon', 201: 'mon'},
 'duration': {200: 146, 201: 167},
 'campaign': {200: 2, 201: 1},
 'pdays': {200: 999, 201: 999},
 'previous': {200: 0, 201: 0},
 'poutcome': {200: 'nonexistent', 201: 'nonexistent'},
 'emp.var.rate': {200: 1.1, 201: 1.1},
 'cons.price.idx': {200: 93.994, 201: 93.994},
 'cons.conf.idx': {200: -36.4, 201: -36.4},
 'euribor3m': {200: 4.857, 201: 4.857},
 'nr.employed': {200: 5191.0, 201: 5191.0}}

df = pd.DataFrame(data)
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
200,33,services,married,high.school,no,no,no,telephone,may,mon,146,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
201,32,services,single,basic.6y,no,no,no,telephone,may,mon,167,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [17]:
# LOAD MODEL
with open('pipe_cb.pkl', 'rb') as file_1:
    pipe_cb = pickle.load(file_1)

In [18]:
y_pred = pipe_cb.predict(df)
y_pred

array(['no', 'no'], dtype=object)